.sb_profile__component-container {
  padding: 10vh 0 20px;
  background: $white;
}

.sb_profile__form-container {
  margin: 0 auto;
  width: 40%;
}

.sb_profile__input {
  margin-bottom: 0px;
  font-size: 2em;
}

.sb_profile__submit-button {
  margin-top: 20px !important;
}

@media (max-width: 768px) {
  .sb_profile__form-container {
    width: 95%;
  }
}