.sb_profile__main-container {
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sb_profile__form-container {
  margin: 0 auto;
  width: 40%;
}

.sb_profile__input {
  margin-bottom: 0px;
  font-size: 2em;
}

.sb_profile__submit-button {
  margin-top: 20px !important;
}

@media (max-width: 767px) {
  .sb_profile__form-container {
    width: 95%;
  }
}