.sb_signin__component-container {
  display: flex;
  align-items: center;
}

.sb_signin__form-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 60%;
}

.sb_signin__input {
  margin-bottom: 0px;
  font-size: 2em;
}

.sb_signin__submit-button {
  margin-top: 20px !important;
}

@media (max-width: 767px) {
  .sb_signin__form-container {
    width: 95%;
  }
}