.sb_signin__main-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sb_signin__form-container {
  margin: 0 auto;
  width: 40%;
}

.sb_signin__input {
  margin-bottom: 0px;
  font-size: 2em;
}