.sb_navigation__menu-button {
  background: transparent;
  color: white;
  border: none;
  &:hover, &:visited, &:focus {
    background: transparent;
    color: white;
    border: none;
  }
}
.ant-menu-item-selected {
  background: transparent!important;
}
