.sb_navigation__menu-container {
  height: 100%;
  position: relative;
  padding-top: 20px;
  padding-left: 10px;
  text-align: left;
}

.sb_navigation__avatar-button {
  border: none;
  height: auto;
  margin-bottom: 15px;
  padding: 10px 0px 10px;
  font-size: 1.25em;
  color: transparent;
  background: transparent;
  &:focus, &:hover, &:visited {
    color: transparent;
    background: transparent;
  }
  .sb_navigation__avatar-icon {
    display: inline-block;
    padding: 5px 12px;
    color: $white;
    background: $light-blue;
    border-radius: 60px;
    margin: 0 auto;
  }
  .sb_navigation__avatar-username {
    display: inline-block;
    color: $white;
    padding-left: 5px;
  }
}

.sb_navigation__avatar-username {
  text-transform: capitalize;
  padding-left: 30px;
}

.sb_navigation__menu-button {
  background: transparent;
  color: white;
  border: none;
  &:hover, &:visited, &:focus {
    background: transparent;
    color: white;
    border: none;
  }
}

.ant-menu-item-selected {
  background: transparent!important;
}

.sb_navigation__logout-icon {
  bottom: 20px !important;
  margin-left: 15px !important;
  position: absolute !important;
}
.sb_navigation__menu-button,
.sb_navigation__menu-icon {
  font-size: 1.6em !important;
  margin-left: -5px !important;
}

.sb_navigation__admin-break {
  text-transform: uppercase;
  margin: 50px 0px 20px;
  color: $white;
}

.sb_navigation__header-container {
  text-align: left;
  padding: 10px 15px;
  height: auto;
  min-height: 50px;
  background: $dark-blue;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.sb_navigation__drawer-button {
  background: transparent;
  color: $white;
  font-size: 1.5em;
  border: none;
  &:focus, &:visited, &:hover {
    background: transparent;
    color: $white;
  }
}

.sb_navigation__drawer-menu-container {
  background: transparent;
  color: $white;
  border-right: 0px !important;
  .sb_navigation__menu-icon, .ant-menu-item {
    color: $white;
  }
}

.sb_navigation__brand {
  padding: 5px 0 30px !important;
  text-align: center;
  margin-left: -10px !important;
  height: auto!important;
  color: $green!important;
  font-weight: 900!important;
  font-size: 5em!important;
}