body {
  margin: 0;
  padding: 0;
}

.sb_app__container {
  display: flex;
  text-align: center;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
}

.sb_main__container {
  width: 100%;
  min-height: 100vh;
}