body {
  margin: 0;
  padding: 0;
}

.sb_app__container {
  display: flex;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}

.sb_app__main-container {
  min-height: calc(100vh - 110px);
  height: auto;
  margin: 20px;
  background: $white;
  display: flex;
}

.sb_app__component-container {
  width: 100%;
  min-height: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .sb_app__container {
    margin-top: 50px;
  }
}