body {
  font-size: 16px;
  font-weight: 500;
  color: $dark-blue;
}

h1 {
  color: $dark-blue;
}
h2 {
  color: $dark-blue;
}
h3 {
  color: $dark-blue;
}
h4 {
  color: $dark-blue;
}
h5 {
  color: $dark-blue;
}
h6 {
  color: $dark-blue;
}
p {
  color: $dark-blue;
}