.sb_signup__component-container,
.sb_signup-profile__component-container  {
  display: flex;
  align-items: center;
}

.sb_signup__form-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 60%;
}

.sb_signup__input {
  margin-bottom: 0px;
  font-size: 2em;
}

.sb_signup__submit-button {
  margin-top: 20px !important;
}

.ant-form-explain {
  padding-top: 10px;
  font-size: .5em;
  font-weight: lighter;
  text-align: left;
}

@media (max-width: 767px) {
  .sb_signup__form-container {
    width: 95%;
  }
}